import React, {PropTypes} from 'react';

const <%= helpers.capitalize(name) %> = (props, context) => {
return <h2>Arrow function component</h2>;
}

<%= helpers.capitalize(name) %>.propTypes = {
};

export default <%= helpers.capitalize(name) %>;